<h1>Hello <%= @current_teacher.name%></h1>
<%= link_to "Logout",session_logout_path %>
<%= link_to "See/Edit Parents", parents_path %>
<%= link_to "Edit Your Profile", session_profile_path %>

<h2> All Teachers </h2>
<% @teachers.each do |t| %>
  <h3><%= t.name %></h3>
<% end %>
