<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "Edit Profile", session_profile_path %></li>
        <li class="nav-link"><%= link_to "Add Parents", new_parent_path(:teacher_id=>@current_teacher.id) %></a></li>
        <li class="nav-link"><%= link_to "Logout",session_logout_path %></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <%= link_to "Sign Up", new_teacher_path, :class => "sign-up" %>
    </div>
  </div>
</header>

<div class = "nav">
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</div>
